In [1]:
# 1
print('Hello World')

Hello World

In [2]:
# 2
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
# 3
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [7]:
# 4
print('"C:\Windows"')

"C:\Windows"

In [8]:
# 5
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \t : 공백(tap)
# \n : 줄 바꿈

안녕하세요.
만나서		반갑습니다.

In [9]:
# 6
# 오늘은 일요일
print("오늘은", "일요일")

오늘은 일요일

In [12]:
# 7
print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

In [13]:
# 8
print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [16]:
# 9
print("first", end=""); print("second")

firstsecond

In [17]:
# 10
print(5/3)

1.6666666666666667

In [19]:
# 11
삼성전자 = 50000
print("총 평가금액 :", 삼성전자*10)

총 평가금액 : 500000

In [23]:
# 12
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [25]:
# 13
s = "hello"
t = "python"
print(s+"!", t)

hello! python

In [26]:
# 14
2+2*3

8

In [27]:
# 15
a = "132"
print (type(a))

<class 'str'>

In [31]:
# 16
num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

In [32]:
# 17
num_int = 100
num_str = str(num_int)
print(num_str, type(num_str))

100 <class 'str'>

In [34]:
# 18
num_str = "15.79"
num_float = float(num_str)
print(num_float, type(num_int))

15.79 <class 'float'>

In [39]:
# 19
year = "2020"
year_int = int(year)
for i in range(1,4):
    year_int -= 1
    print(year_int)

2019
2018
2017

In [41]:
# 20
할부 = 48584
월 = 36
총액 = 할부 * 월
print("총 금액 :", 총액)

총 금액 : 1749024

In [42]:
# 21
letters = 'python'
print(letters[0], letters[2])

p t

In [46]:
# 22
license_plate = "24가 2210"
print(license_plate.split(" ")[1])

2210

In [47]:
# 23
string = "홀짝홀짝홀짝"
print(string.replace("짝",""))

홀홀홀

In [54]:
# 24
string = "PYTHON"
print(string[::-1])

NOHTYP

In [59]:
# 25
phone_number = "010-1111-2222"
print(phone_number.replace("-"," "))

010 1111 2222

In [60]:
# 26
phone_number = "010-1111-2222"
print(phone_number.replace("-",""))

01011112222

In [61]:
# 27
url = "http://sharebook.kr"
print(url.split(".")[-1])

kr

In [62]:
# 28
lang = 'python'
lang[0] = 'P'
print(lang)
# 문자열 수정 불가

TypeError: 'str' object does not support item assignment

In [63]:
# 29
string = 'abcdfe2a354a32a'
print(string.replace("a","A"))

Abcdfe2A354A32A

In [65]:
# 30
string = 'abcd'
string.replace('b','B')
print(string)
print(string.replace('b','B'))

abcd
aBcd

In [66]:
# 31
a = "3"
b = "4"
print(a + b)

34

In [67]:
# 32
print("Hi" * 3)

HiHiHi

In [68]:
# 33
print("-" * 80)

--------------------------------------------------------------------------------

In [70]:
# 34
t1 = 'python'
t2 = 'java'
print((t1+" "+t2+" ") * 4)

python java python java python java python java

In [75]:
# 35
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))
# %

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [76]:
# 36
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))
# format()

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [77]:
# 37
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")
#f-string

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [79]:
# 38
상장주식수 = "5,969,782,550"
print(type(int(상장주식수.replace(",",""))))

<class 'int'>

In [84]:
# 39
분기 = "2020/03(E) (IFRS연결)"
print(분기.split('(E)')[0])

2020/03

In [85]:
# 40
data = "   삼성전자    "
print(data.strip())

삼성전자

In [87]:
# 41
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

In [90]:
# 42
ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

In [91]:
# 43
str = 'hello'
print(str.capitalize())

Hello

In [101]:
# 44
file_name = "2020_보고서.xlsx"
print(file_name.endswith('xlsx'))

True

In [102]:
# 45
print(file_name.endswith(('xlsx','xls')))

True

In [103]:
# 46
print(file_name.startswith('2020'))

True

In [109]:
# 47
a = "hello world"
a.split()

['hello', 'world']

In [110]:
# 48
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [111]:
# 49
date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [112]:
# 50
data = "039490     "
data.rstrip()

'039490'

In [133]:
# 51
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [134]:
# 52
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [135]:
# 53
movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [136]:
# 54
movie_rank.remove('럭키')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [138]:
# 55
movie_rank.remove('스플릿')
movie_rank.remove('배트맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [139]:
# 56
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
print(lang1+lang2)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [141]:
# 57
nums = [1, 2, 3, 4, 5, 6, 7]
print('max:', max(nums), '\nmin:', min(nums))

max: 7
min: 1

In [148]:
# 58 ???
nums = [1, 2, 3, 4, 5]
print(sum(nums))

TypeError: 'int' object is not callable

In [151]:
# 59
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [156]:
# 60 ??
nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
print(average)

TypeError: 'int' object is not callable

In [157]:
# 61
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [161]:
# 62
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [162]:
# 63
nums[1::2]

[2, 4, 6, 8, 10]

In [163]:
# 64
nums[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [166]:
# 65
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [172]:
# 66
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [173]:
# 67
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [174]:
# 68
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [175]:
# 69
string = "삼성전자/LG전자/Naver"
print(string.split('/'))

['삼성전자', 'LG전자', 'Naver']

In [183]:
# 70
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [184]:
# 71
my_variable = ()

In [186]:
# 72
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")
movie_rank

('닥터 스트레인지', '스플릿', '럭키')

In [187]:
# 73
my_tuple = (1, )

In [ ]:
# 74
# tuple은 원소(element)의 값을 변경할 수 없습니다.

In [189]:
# 75
t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [194]:
# 76
t = ('a', 'b', 'c')
t = ('A', 'b', 'c')

('A', 'b', 'c')

In [195]:
# 77
interest = ('삼성전자', 'LG전자', 'SK Hynix')
print(list(interest))

['삼성전자', 'LG전자', 'SK Hynix']

In [196]:
# 78
interest = ['삼성전자', 'LG전자', 'SK Hynix']
print(tuple(interest))

('삼성전자', 'LG전자', 'SK Hynix')

In [197]:
# 79
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [200]:
# 80
print(tuple(range(2, 100, 2)))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)