In [13]:
from selenium import webdriver
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests

#1~50
driver = webdriver.Chrome('chromedriver.exe')
url = 'https://www.genie.co.kr/chart/top200'
driver.get(url)
txt = driver.page_source
html = bs(txt)

songs = html.select('tbody>tr')

song_data = []
rank = 1
for song in songs:
    title = song.select('a.title')[0].text.strip()
    singer = song.select('a.artist')[0].text
    song_data.append(['Genie',rank,title,singer])
    rank += 1

#51~100
url = 'https://www.genie.co.kr/chart/top200?ditc=D&ymd=20230227&hh=16&rtm=Y&pg=2'
driver.get(url)
txt = driver.page_source
html = bs(txt)

songs = html.select('tbody>tr')

for song in songs:
    title = song.select('a.title')[0].text.strip()
    singer = song.select('a.artist')[0].text
    song_data.append(['Genie',rank,title,singer])
    rank += 1
df = pd.DataFrame(song_data, columns=['서비스','순위','타이틀','가수'])
df
#df.to_excel('genie.xlsx',index=False)

/var/folders/_j/xfcnlqrd2nn2csm0b_0f87hc0000gn/T/ipykernel_2335/2346981652.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('chromedriver.exe')

      서비스   순위                            타이틀            가수
0   Genie    1                          Ditto      NewJeans
1   Genie    2                            OMG      NewJeans
2   Genie    3                       Hype boy      NewJeans
3   Genie    4                        사건의 지평선   윤하 (YOUNHA)
4   Genie    5  I Don't Think That I Like Her  Charlie Puth
..    ...  ...                            ...           ...
95  Genie   96                strawberry moon      아이유 (IU)
96  Genie   97                         Butter         방탄소년단
97  Genie   98                       SNEAKERS     ITZY (있지)
98  Genie   99                        나의 목소리로           김호중
99  Genie  100                            Bad   Christopher

[100 rows x 4 columns]

In [51]:
# Naver WebToon
driver = webdriver.Chrome('chromedriver.exe')
url = 'https://comic.naver.com/webtoon/weekday'
driver.get(url)
txt = driver.page_source
html = bs(txt)

toons = html.select('a.title')

webtoon_data = []
for toon in toons:
    title = toon.text
    webtoon_data.append(['Naver',title])

df = pd.DataFrame(webtoon_data, columns=['서비스','제목'])
df
#df.to_excel('naver(심현민).xlsx',index=False)

/var/folders/_j/xfcnlqrd2nn2csm0b_0f87hc0000gn/T/ipykernel_2335/3906440795.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('chromedriver.exe')

       서비스                  제목
0    Naver             뷰티풀 군바리
1    Naver             퀘스트지상주의
2    Naver                신의 탑
3    Naver           장씨세가 호위무사
4    Naver  신화급 귀속 아이템을 손에 넣었다
..     ...                 ...
567  Naver           밀실 마피아 게임
568  Naver            아마도, 굿모닝
569  Naver          천년간 노려왔습니다
570  Naver              그림자 잡기
571  Naver                어떤소란

[572 rows x 2 columns]

In [59]:
# Naver Weather
driver = webdriver.Chrome('chromedriver.exe')
url = 'https://weather.naver.com/'
driver.get(url)
txt = driver.page_source
html = bs(txt)

html.select('strong.current')[0].text.strip().replace("현재 온도","")

/var/folders/_j/xfcnlqrd2nn2csm0b_0f87hc0000gn/T/ipykernel_2335/3641457281.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('chromedriver.exe')

In [115]:
# 비트코인 현재가
driver = webdriver.Chrome('chromedriver.exe')
url = 'https://www.bithumb.com/react/'
driver.get(url)
txt = driver.page_source
html = bs(txt)
html.select('table.table-asset>tbody>tr')[1].select('strong.MarketRow_sort-real__5zeND')[0].text

/var/folders/_j/xfcnlqrd2nn2csm0b_0f87hc0000gn/T/ipykernel_2335/1353836891.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('chromedriver.exe')

'31,059,000 원'